fastapi 
uvicorn 
sqlmodel 
pydantic
pydantic-settings
psycopg2-binary  # dont use psycopg2 with docker it will lead to errors :(
requests
email-validator
passlib[bcrypt]
zxcvbn
pyjwt
langgraph
langgraph-supervisor
langchain
#langchain-openai
langchain-google-genai
